<div class="container">
  <h3 class="text-center mt-2 mb-2">Find Route From One City To Another</h3>
  <%= form_with(url: paths_path, local: true, method: "get", class: "form-inline filter-form mt-3 pt-3  pb-3 pl-3") do |f| %>
    <div class="row w-100">
      <div class="col-4">
        <%= select(:origin, "", @stations.collect {|s| s["n.city"] }, { include_blank: false }, {class: "form-control w-100"}) %>
      </div>
      <div class="col-4">
        <%= select(:destination, "", @stations.collect {|s| s["n.city"] }, { include_blank: false}, {class: "form-control w-100"}) %>
      </div>
      <div class="col-4">
        <%= f.submit("Search", method: "Create", class: "btn btn-outline-primary w-100") %>
      </div>
    </div>

  <% end %>
</div>