<div class="container">
  <h1 class="text-center">Welcome to On Rails</h1>
  <p class="text-center">A CSSE 433 databases project</p>
  <%= image_tag("train.jpg", :alt => "rss feed", class: "rounded mx-auto d-block") %>
</div>