/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require_bootstrap
 *= require_tree .
 *= require_self
 */
@import 'bootstrap/dist/css/bootstrap';

body {
  background-color: #26283b;
  color: #a5a6a4;
}

.form-control {
  background-color: #575757;
  border-color: #222230;
  color: white;
}

.input-group-text {
  background-color: #464646;
  border: 1px solid black;
  color: white;
}

.form-control:focus {
  background-color: #666666;
  border-color: #1d0c87;
  color: #303247;
}
.form-control::placeholder {
  color: #a5a6a4;
  opacity: 1;
}

.select-date {
  display: inline-block;
  width: auto;
}


.alert-danger {
  background-color: rgb(64, 11, 16);
  border-color: rgb(129, 23, 34);
  color: rgb(230, 155, 162)
}